body {
    background-color: gray;
  }
 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  li a:hover {
    background-color: cyan;
    color: black;
  }

  h1 {
    color: white;
    text-align:center;
    font-size:50px;
    -webkit-animation:name 2s infinite;
}

@-webkit-keyframes name {
    0% {color: lightskyblue;}
    25% {color:cyan;}
    50% {color: lightskyblue;}
    75% {color:cyan;}
    100% {color: lightskyblue;}
}

p {
font-size: 25px;
color: white;
text-align: center;
}

.a-git {
text-align: center;
display: block;
color: cyan;
font-size: 40px;
}

.git-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}